<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="https://i.ibb.co/Kyzy3mz/logo.jpg" alt="logo" />
    <a class="navbar-brand" href="#">Student War</a>
  </nav>
</template>

<style scoped>
img {
  width: 48px;
  height: 48px;
}
</style>
