<template>
  <div id="student">
    <img
      v-if="playerNo == '1'"
      src="../assets/alex-stance.gif"
      alt="avatar"
    />
    <img
      v-if="playerNo == '2'"
      src='../assets/asura-stance.gif'
      alt="avatar"
      class="flip"
    />
    <p>{{waitingForOther &&  (playerNo != '1')? 'waiting for player 2...': 'Ready'}}</p>
    <label v-if='!waitingForOther' :for="student.name">Name</label>
    <input v-if='!waitingForOther' :id="student.name" v-model="student.name" />

    <label v-if='!waitingForOther' :for="student.HP">HP</label>
    <input v-if='!waitingForOther' :id="student.HP" v-model="student.HP" />

    <label v-if='!waitingForOther' :for="student.DPS">DPS</label>
    <input v-if='!waitingForOther' :id="student.DPS" v-model="student.DPS" />

    <button v-if='!waitingForOther' :disabled='playerId != student.id' v-on:click="randomizeStudent()">
      Randomize
    </button>
  </div>
</template>

<script>
// import { mapActions } from 'vuex';
// import { mapGetters } from 'vuex';

export default {
  props: ['student', 'playerId', 'playerNo'],
  data() {
    return {
      waitingForOther: true,
      avatar: `../assets/${this.student.avatar}`,
    }
  },
  computed: {
    // ...mapGetters(['winner']),
  },
  sockets: {
    startGame: function () {
        console.log('Game started');
        this.waitingForOther = false;
    },
    stopGame: function () {
        console.log('Game stopped');
        this.waitingForOther = true;
    },
  },
  methods: {
    // ...mapActions(['randomizeStudent', 'restart']),
    randomizeStudent: function () {
      console.log('randomize');
      this.$socket.emit('randomize');
    }
  },
};
</script>

<style scoped>
#student {
  display: grid;
  height: 420px;
  justify-items: center;
  background: #f7bb6c;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
  box-sizing: border-box;
}
#student input {
  margin: 2px;
  border: 5px solid #fb9204;
  border-radius: 8px;
}
.flip {
  transform: rotateY(180deg);
}
img {
  width: 64px;
  height: 64px;
}
</style>
