<template>
  <div id="student" :class="{ 'swirl-in-fwd': student.name }">
    <h2>{{playerId == student.id ? 'You Win' : 'Defeat'}}</h2>
    <img
      v-if="student.player == '1'"
      src="../assets/alex-win.gif"
      alt="avatar"
    />
    <img
      v-if="student.player == '2'"
      src='../assets/asura-win.gif'
      alt="avatar"
      class="flip"
    />
    <label :for="student.name">Name</label>
    <input :id="student.name" v-model="student.name" />

    <label :for="student.HP">HP</label>
    <input :id="student.HP" v-model="student.HP" />

    <label :for="student.DPS">DPS</label>
    <input :id="student.DPS" v-model="student.DPS" />

    <button v-on:click="restart()">Restart</button>
  </div>
</template>

<script>
// import { mapActions } from 'vuex';
// import { mapGetters } from 'vuex';

export default {
  props: ['student', 'playerId'],
  computed: {
    // ...mapGetters(['winner']),
  },
  methods: {
    restart: function () {
        this.$socket.emit('restart');
    },
  },
};
</script>

<style scoped>
#student {
  display: grid;
  height: 420px;
  justify-items: center;
  background: #738c8c;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
  box-sizing: border-box;
}
#student input {
  margin: 4px;
  border: 5px solid #fb9204;
  border-radius: 8px;
}
.flip {
  transform: rotateY(180deg);
}

.swirl-in-fwd {
  -webkit-animation: swirl-in-fwd 0.6s ease-out both;
  animation: swirl-in-fwd 0.6s ease-out both;
}

@-webkit-keyframes swirl-in-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
    transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    opacity: 1;
  }
}
@keyframes swirl-in-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
    transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    opacity: 1;
  }
}

img {
  width: 64px;
  height: 64px;
}
</style>
