<template>
  <div id="app">
    <Header />
    <p>{{isConnected ? 'connected!' : 'connecting to server...'}}</p>
    <div class="student-grid">
      <Student :student="student1" :playerId='myId' playerNo='1'/>
      <div class="student-grid-mid">
        <button v-if="!winner.name" v-on:click="compete" :disabled="!gameReady">Compete</button>
        <Winner v-if="winner.name" :student="winner" :playerId='myId' />
      </div>
      <Student :student="student2" :playerId='myId' playerNo='2'/>
    </div>
  </div>
</template>

<script>
// import { mapActions } from 'vuex';
// import { mapGetters } from 'vuex';

import Header from './components/Header.vue';
import Student from './components/Student.vue';
import Winner from './components/Winner.vue';

export default {
  name: 'App',
  data() {
    return {
      myId: '',
      isConnected: false,
      gameReady: false,
      student1: '',
      student2: '',
      winner: '',
    }
  },
  components: {
    Header,
    Student,
    Winner,
  },
  // computed: {
  //   ...mapGetters(['student1', 'student2', 'winner']),
  // },
  sockets: {
    connect: function () {
        console.log('socket connected');
        this.isConnected = true;
        this.myId = this.$socket.id;
    },
    disconnect: function () {
        console.log('socket dicconnected');
        this.isConnected = false;
    },
    startGame: function (data) {
        this.student1 = data.players[0];
        this.student2 = data.players[1];
        this.winner = data['winner'];
        this.gameReady = true;
    },
    result: function (data) {
        this.gameReady = false;
        let player =JSON.stringify(data) === JSON.stringify(this.student1) ? '1' :'2';
        this.winner = {player , ...data};
    }
  },
  methods: {
    compete: function () {
      console.log('compete');
      this.$socket.emit('compete');
    }
  },
};
</script>

<style>
body {
  height: 100vh;
  background-color: #9cb4a4;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.student-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 20vh;
  max-height: 550px;
}

.student-grid-mid {
  display: grid;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .student-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
}

button {
  background-color: #fb9204;
  padding: 8px;
  margin: 4px;
  border: 4px solid #9cb4a4;
  border-radius: 8px;
  outline: none;
  box-sizing: border-box;
}

button:hover {
  background-color: #f7bb6c;
}

button:focus {
  background-color: #f7bb6c;
}
</style>
